# Database
DATABASE_URL=postgresql://neondb_owner:npg_bildcDYu9ea2@ep-late-haze-ah8mluda-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Secrets (Generate using: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
JWT_SECRET=d0f2c8f2d07650727cdd0d0fe9eee7a9c3b78c356c38eb94b2f6f8c3b6800081
JWT_REFRESH_SECRET=73bc8d48380d23f25c408d87b3f893fd5685766848006822c676df0551b1ed4a

# Frontend URL for CORS
FRONTEND_URL=https://auctus-studio.vercel.app

# Environment
NODE_ENV=production
